<div class='container' ng-controller="DemoCtrl">
  <div class='row'>
    <div class='col-md-3'>
      <form class='well'>
    		{{# controls }}
        <label><b>{{label}}</b></label>
    		<select class='form-control' ng-model="opts.{{name}}" 
          ng-options="ctl for ctl in controls.{{name}}.values">   
    		</select><br>
				{{/ controls }}
        {{# hasFilter }}
        <select
          ng-model="selected" 
          ng-options="c as c.value group by c.variable for c in filters" 
          class="form-control" multiple size="10">
        </select>
        {{/ hasFilter }}
      </form>
    </div>
    <div class='col-md-8'>
      <div class="bs-docs-example">
        <div id='{{chartId}}' class='rChart {{lib}}'>
          <svg></svg>
        </div>
        {{# CODE }}<pre><code class='r'>{{CODE}}</code></pre>{{/ CODE }}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
function DemoCtrl($scope){
  $scope.opts = {{{ opts }}}
  $scope.data = {{{ data }}}
  $scope.controls = {{{ controls_json }}} 
  $scope.filters = {{{ filters_json }}}
  
  $scope.drawChart = function(){
    drawChart($scope.opts, $scope.data)  
  }
  
  $scope.$watch('selected', function(){
    if (!(typeof($scope.selected) === "undefined")) {
      $scope.opts.selected = $scope.selected.map(function(d){
        selectKey={};
        selectKey[d.variable]=d.value;
        return selectKey;
      })
    }
  }) 
  
  $scope.$watch('opts',function(){
    $scope.drawChart()
	}, true)
}  

function drawChart(opts, data){ 
  if (_.keys(opts.selected).length > 0){
  // for multiselect union
    data = _.at(data,_.chain(opts.selected)
      .map(function(d){
        return _.compact(
          data.map(function(val,ind){
           if(val[_.keys(d)[0]]===d[_.keys(d)[0]]) {
              return ind
            } else {return false}
          })
        )
      })
      .flatten()
      .uniq()
      .value()
    )
  /* for multiselect intersection
    data = _.chain(opts.selected)
      .map(function(d){
        return _.compact(
          data.map(function(val,ind){
           if(val[_.keys(d)[0]]===d[_.keys(d)[0]]) {
              return ind
            } else {return false}
          })
        )
      })
      .value();
  
     var intersected = _.countBy(_.flatten(testdata,function(d){return d}));

     var varKeys = _.uniq(_.flatten(opts.selected.map(function(d){return _.keys(d)})));

     data = _.at(data,_.chain(intersected)
        .map(function(d,i){
          if (d===varKeys.length) {return i} else {return false}
        })
        .compact()
        .value()
      );
    */
  }
  
  
	var data = d3.nest()
		.key(function(d){
			return opts.group === undefined ? 'main' : d[opts.group]
		})
		.entries(data)
	
	nv.addGraph(function() {
		var chart = nv.models[opts.type]()
			.x(function(d) { return d[opts.x] })
			.y(function(d) { return d[opts.y] })
			.width(opts.width)
			.height(opts.height)
		
	{{{ chart }}}
          
	{{{ xAxis }}}

	{{{ x2Axis }}}
	
	{{{ yAxis }}}

	d3.select("#" + opts.id + ' svg')
  // .empty()
		.datum(data)
		.transition().duration(500)
		.call(chart);
	
	 nv.utils.windowResize(chart.update);
	 return chart;
  });
};
</script>